body {
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  width: 900px;
  background-color: #bbc9dd;
}

button {
  padding: 10px;
  margin: 8px;
  border-radius: 6px;
  border: 1px solid #f29ebf;
  color: #f29ebf;
  cursor: pointer;
}

button a:hover {
  color: #f29ebf;
  background-color: #596980;
}

.form {
  width: 90%;
  border-radius: 4px;
  border: 1px solid rgb(199, 185, 185);
  padding: 12px 20px;
}

textarea {
  resize: horizontal;
  overflow: hidden;
}
