body {
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  width: 900px;
  background-color: #8e9fb6;
}

h1 {
  font-family: "futura";
  background-color: rgb(243, 243, 43);
  background-image: linear-gradient(to right, #ffdb65, #c315da);
  /* color: linear-gradient(to right, #edcb5d 0%, #edb35d 51%, #c315da 100%); */
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

h2 {
  font-family: "futura";
}

.font-content {
  font-family: "futura";
}

button {
  background-image: linear-gradient(
    to right,
    #edcb5d 0%,
    #edb35d 51%,
    #c315da 100%
  );
  padding: 10px;
  margin: 8px;
  border-radius: 6px;
  border: 1px solid #f29ebf;
  color: #ffffff;
  cursor: pointer;
  font-family: "futura";
}

button:hover {
  background-position: left;
  color: #fff;
  text-decoration: none;
}

.form {
  width: 90%;
  border-radius: 4px;
  border: 1px solid rgb(199, 185, 185);
  padding: 12px 20px;
}

textarea {
  resize: horizontal;
  overflow: hidden;
}
